
table {
    margin: 30px auto 0;
    border: 1px solid black;
    background: #ececec;
}

td {
    width: 300px;
    height: 60px;
    padding: 20px;
    text-align: right;
}

th {
    height: 60px;
}

input {
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.gray {
    color: gray;
    text-align: left;
}

input[type='reset'], input[type='submit'] {
    width: 40px;
}
